.App {
  text-align: center;
}

.GameField {
  width: 300px;
  border: 2px solid grey;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  margin: 0 auto;
}

.FieldUnit {
  width: 46px;
  height: 46px;
  background: grey;
  margin: 2px 2px;
  float: left;
  border-radius: 5px;
  position: relative;
}

.FieldUnit_clicked {
  background-color: #ddd;
  z-index: -2;
}

.Treasure {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: gold;
  color: darkgoldenrod;
  border: 2px solid darkgoldenrod;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/*.ActionButton {*/
/*  margin-top: 30px;*/
/*  margin-bottom: 30px;*/
/*  height: 30px;*/
/*  padding: 0 20px;*/
/*  font-size: 18px;*/
/*  font-weight: bold;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*}*/

/*.ActionButton_start {*/
/*  background-color: steelblue;*/
/*}*/

/*.ActionButton_reset {*/
/*  background-color: firebrick;*/
/*}*/